<style>
  .banner-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ajuste dinámico de altura */
    overflow: hidden;
  }

  .banner-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que el video se ajuste bien */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Contenedor del texto */
  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .banner-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: white;
  }

  .banner-content a {
    display: inline-block;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-weight: normal;
    border-bottom: 1px solid white; /* Línea debajo del texto como en Nude Project */
    padding-bottom: 2px;
  }

  /* Ajustes responsivos */

   @media screen and (min-width: 1200px) {
    .banner-container {
      height: 80vh !important;
    }
  }

  @media screen and (min-width: 990px) and (max-width: 1199px) {
    .banner-container {
      height: 60vh !important;
    }
    .banner-content h1 {
      font-size: 3.4rem;
    }
    .banner-content a {
      font-size: 1.4rem;
      letter-spacing: 0.08rem;
    }
  }

  @media (max-width: 767px) {
    .banner-content h1 {
      font-size: 2rem;
    }
  }

  .hidden-mobile {
    display: none;
  }

  .hidden-desktop {
    display: block;
  }

  @media (min-width: 767px) {
    .hidden-mobile {
      display: block;
    }

    .hidden-desktop {
      display: none;
    }
  }

  
</style>

{% if section.settings.desktop_video != blank and section.settings.mobile_video != blank %}
  <div class="banner-container">
    <!-- Contenedor del texto -->
    <div class="banner-content">
      <h1>{{ 'homepage.new_arrivals' | t }}</h1>
      <a href="{{ section.settings.url_banner }}">{{ 'homepage.shop_now' | t }}</a>
    </div>

    <a href="{{ section.settings.url_banner }}">
      <video class="hidden-mobile" autoplay muted loop>
        <source src="{{ section.settings.desktop_video }}" type="video/mp4">
        Tu navegador no admite el elemento de video.
      </video>
    </a>
    <a href="{{ section.settings.url_banner }}">
      <video class="hidden-desktop" autoplay muted loop>
        <source src="{{ section.settings.mobile_video }}" type="video/mp4">
        Tu navegador no admite el elemento de video.
      </video>
    </a>
  </div>
{% endif %}

{% schema %}
{
  "name": "Video Banner",
  "class": "desktop-mobile-banner",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Video Banner"
    },
    {
      "type": "text",
      "id": "banner_title",
      "label": "Título del banner",
      "default": "Novedades"
    },
    {
      "type": "text",
      "id": "banner_link_text",
      "label": "Texto del enlace",
      "default": "COMPRAR AHORA"
    },
    {
      "type": "url",
      "id": "url_banner",
      "label": "URL del enlace",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "label": "Desktop Video URL",
      "id": "desktop_video"
    },
    {
      "type": "header",
      "content": "Mobile Banner"
    },
    {
      "type": "text",
      "label": "Mobile Video URL",
      "id": "mobile_video"
    }
  ],
  "presets": [
    {
      "name": "Video Banner",
      "category": "Video",
      "settings": {}
    }
  ]
}
{% endschema %}
